DATABASE_URL="postgresql://postgres:postgres@localhost:5432/school_platform?schema=public"
JWT_SECRET="5E5CH6C8Dc7NIIJGO60HKmKpZP3wvYOSeYlviATzz30="
PORT=3000
SCHOOL_NAME="St. Joseph's Science and Technical College, Makurdi"
NODE_ENV="development"
